body {
	background-color: white;
	max-width: 650px;
	font-family: Calibri
}

/* style the link index */
span.letterLinkSpan {
	display: inline-block;
}

span.letterLinkSpan>a.letterLink {
	display: inline-block;
	width: 1.1em;
	text-align: center;
	padding: 0.2em;
	font-size: medium;
	color: #000000;
	background-color: #99cc00;
}
	
span.letterLinkSpan>a.letterLink.entriesPresent {
	font-weight: bold;
}
	
span.letterLinkSpan>a.letterLink.entriesAbsent {
	font-weight: normal;
	color: #FFEEEE;
}
	
span.letterLinkSpan>a.letterLink:hover {
	background-color: #DDDDFF;
}

/* style the glossary entries */
		
.tabcontent dt {
	float: left;
	clear: left;
	text-align: right;
	padding: .25em;
	width: 20%;
	font-weight: bold;
}
  
.tabcontent dt::after {
	content: ":";
}

.tabcontent dd {
	/* margin: 0 0 0 110px; */
	/* padding: 0 0 0.5em 0; */
	float: left;
	width: 70%;
	padding: .25em 0;
}

.tabcontent dl::after {
	content:""; display:table;clear:both;}
	
/* style the button pick list */
.btn-group button {
  background-color: #99cc00; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* Black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  font-weight: bold; /* Make text bold */
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}


/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}


/* style the accordion */
label {
	display: block;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	/* border: none; */
	border: 1px solid grey; /* Grey border */
	font-weight: bold;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

label:hover {
	background-color: #ccc; 
}

label::after {
	content: '\002B'; /* plus */
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

input:checked + label::after {
	content: "\2212"; /* minus */ 
}
	
.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}

input {
    display: none;
}

input + label + .panel {
	display: none;
}

input:checked + label + .panel {
	display: block;
}

/* Style the tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 700;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
